<?xml version="1.0" encoding="UTF-8"?>

<web-app
        xmlns = "https://jakarta.ee/xml/ns/jakartaee"
        xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation = "https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
        version = "5.0"
        metadata-complete = "false">
	
  	<display-name>WS SOAP</display-name>
  	
  	<listener>
	  	<listener-class>
	  		com.sun.xml.ws.transport.http.servlet.WSServletContextListener
	  	</listener-class>
    </listener>
  
  	<servlet>
    	<servlet-name>JAXWSServlet</servlet-name>
    	<servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
      <servlet-name>JAXWSServlet</servlet-name>
      <url-pattern>/ws/*</url-pattern>
  	</servlet-mapping>
	
</web-app>
